# [Treino3]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Treino3]    Script Date: 19/11/2025 09:51:25 ******/
CREATE DATABASE [Treino3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Treino3', FILENAME = N'F:\Data\Treino3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Treino3_log', FILENAME = N'L:\LOGs\Treino3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Treino3] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Treino3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Treino3] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Treino3] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Treino3] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Treino3] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Treino3] SET ARITHABORT OFF 
GO
ALTER DATABASE [Treino3] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Treino3] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Treino3] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Treino3] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Treino3] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Treino3] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Treino3] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Treino3] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Treino3] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Treino3] SET  ENABLE_BROKER 
GO
ALTER DATABASE [Treino3] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Treino3] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Treino3] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Treino3] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Treino3] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Treino3] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Treino3] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Treino3] SET RECOVERY FULL 
GO
ALTER DATABASE [Treino3] SET  MULTI_USER 
GO
ALTER DATABASE [Treino3] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Treino3] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Treino3] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Treino3] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Treino3] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Treino3] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Treino3', N'ON'
GO
ALTER DATABASE [Treino3] SET QUERY_STORE = ON
GO
ALTER DATABASE [Treino3] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[ProdutosPedidoType]

In [0]:
USE [Treino3]
GO

In [0]:
/****** Object:  UserDefinedTableType [dbo].[ProdutosPedidoType]    Script Date: 19/11/2025 09:51:25 ******/
CREATE TYPE [dbo].[ProdutosPedidoType] AS TABLE(
	[ProdutoID] [int] NULL,
	[Quantidade] [int] NULL
)
GO

# [dbo].[RegistrarProdutos]

In [0]:
/****** Object:  UserDefinedTableType [dbo].[RegistrarProdutos]    Script Date: 19/11/2025 09:51:25 ******/
CREATE TYPE [dbo].[RegistrarProdutos] AS TABLE(
	[produtoid] [int] NULL,
	[quantidade] [int] NULL
)
GO

# [dbo].[Cliente]

In [0]:
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DataCadastro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Produto]

In [0]:
/****** Object:  Table [dbo].[Produto]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[ProdutoID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[Estoque] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Pedido]

In [0]:
/****** Object:  Table [dbo].[Pedido]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[PedidoID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[DataPedido] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[ItemPedido]

In [0]:
/****** Object:  Table [dbo].[ItemPedido]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPedido](
	[ItemPedidoID] [int] IDENTITY(1,1) NOT NULL,
	[PedidoID] [int] NOT NULL,
	[ProdutoID] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemPedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tela1]

In [0]:
/****** Object:  View [dbo].[Tela1]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Tela1]
as
select pe.PedidoID,c.Nome, sum(quantidade * preço) 'ValorDoPedido'
from  Cliente C join Pedido pe on c.ClienteID = pe.ClienteID
               join ItemPedido it on pe.PedidoID =it.PedidoID
			   join Produto pr on it.ProdutoID = pr.ProdutoID
group by pe.PedidoID,c.Nome
GO

# [DF__Cliente__DataCad__44FF419A]

In [0]:
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [DataCadastro]
GO

# [DF__Pedido__DataPedi__49C3F6B7]

In [0]:
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [DataPedido]
GO

# [FK_ItemPedido_Pedido]

In [0]:
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Pedido] FOREIGN KEY([PedidoID])
REFERENCES [dbo].[Pedido] ([PedidoID])
GO
ALTER TABLE [dbo].[ItemPedido] CHECK CONSTRAINT [FK_ItemPedido_Pedido]
GO

# [FK_ItemPedido_Produto]

In [0]:
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Produto] FOREIGN KEY([ProdutoID])
REFERENCES [dbo].[Produto] ([ProdutoID])
GO
ALTER TABLE [dbo].[ItemPedido] CHECK CONSTRAINT [FK_ItemPedido_Produto]
GO

# [FK_Pedido_Cliente]

In [0]:
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO

# [dbo].[atualizarEstoque]

In [0]:
/****** Object:  StoredProcedure [dbo].[atualizarEstoque]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------
create   procedure [dbo].[atualizarEstoque]
@produtoid int,
@quantidade int
AS
BEGIN
        update Produto
		set Estoque = Estoque + @quantidade
		where ProdutoID = @produtoid
END
GO

# [dbo].[categoriat3]

In [0]:
/****** Object:  StoredProcedure [dbo].[categoriat3]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[categoriat3]

@categoria nvarchar(50)
as
begin
     select pr.Nome,sum(quantidade) as 'quantidade Vendida' , sum(quantidade * preço) as 'ValorTotal'
	 from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID
	 where Categoria = @categoria
	 group by pr.Nome
END
GO

# [dbo].[ClienteAcima]

In [0]:
/****** Object:  StoredProcedure [dbo].[ClienteAcima]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[ClienteAcima]
@valorminimo decimal (10,2)

as
BEGIN
     select c.Nome, sum(quantidade * preço) as 'valorgasto'
	 from Cliente C join Pedido pe on c.ClienteID = pe.ClienteID
	                join ItemPedido it on pe.PedidoID = it.PedidoID
	                join Produto pr on it.ProdutoID = pr.ProdutoID
	 group by c.nome
	 having sum(quantidade * preço) > @valorminimo
END
GO

# [dbo].[ClienteAltoValor]

In [0]:
/****** Object:  StoredProcedure [dbo].[ClienteAltoValor]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[ClienteAltoValor]

@ValorMinimo decimal (10,2)
as
BEGIN 
     SELECT c.Nome,
           SUM(ip.Quantidade * pr.Preco) AS TotalGasto
    FROM Cliente c
    JOIN Pedido p ON c.ClienteID = p.ClienteID
    JOIN ItemPedido ip ON p.PedidoID = ip.PedidoID
    JOIN Produto pr ON ip.ProdutoID = pr.ProdutoID
    GROUP BY c.Nome
	Having sum(ip.Quantidade * pr.Preco) > @ValorMinimo
END
GO

# [dbo].[ClienteNovo]

In [0]:
/****** Object:  StoredProcedure [dbo].[ClienteNovo]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ClienteNovo]
@Nome nvarchar(100),
@Email nvarchar(100)
as
BEGIN 
       insert into Cliente(Nome,Email)
	   values (@Nome,@Email)
END
GO

# [dbo].[ClienteT1]

In [0]:
/****** Object:  StoredProcedure [dbo].[ClienteT1]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ClienteT1]
@ClienteID int

as
BEGIN 
      select Pe.PedidoID, pe.DataPedido , sum(quantidade * preço) as 'ValorTotal'
	  from Cliente C join Pedido PE on c.ClienteID = pe.ClienteID
	                 join ItemPedido it on pe.PedidoID = it.PedidoID
					 join Produto pr on it.ProdutoID = pr.ProdutoID
	  where pe.clienteid = @ClienteID
	  group by pe.PedidoID, pe.DataPedido
END
GO

# [dbo].[Clientet2]

In [0]:
/****** Object:  StoredProcedure [dbo].[Clientet2]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[Clientet2]
@Clienteid int

as
 BEGIN
       select c.Nome, pe.pedidoid,pe.DataPedido ,sum(quantidade * preço) as 'valoresTotais'
	   from Cliente C join Pedido pe on c.ClienteID = pe.ClienteID
	                  join ItemPedido it on pe.PedidoID = it.PedidoID
					  join Produto pr on it.ProdutoID = pr.ProdutoID
	   where c.ClienteID = @Clienteid
	   GROUP by c.Nome , pe.PedidoID, pe.DataPedido;

	   select c.nome, sum(quantidade * preço) as 'TotalGasto'
	   from  Cliente C join Pedido pe on c.ClienteID = pe.ClienteID
	                  join ItemPedido it on pe.PedidoID = it.PedidoID
					  join Produto pr on it.ProdutoID = pr.ProdutoID
	   where c.clienteId = @Clienteid
	   group by c.nome
END
GO

# [dbo].[ClienteValorAlto]

In [0]:
/****** Object:  StoredProcedure [dbo].[ClienteValorAlto]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ClienteValorAlto]

@valorminimo decimal (10,2)

as
BEGIN 
     select c.Nome, sum(quantidade * preço) 'ValorGasto'
	 from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID
	                    join Pedido pe on it.PedidoID = pe.PedidoID
						join Cliente C on pe.ClienteID = C.ClienteID
	 group by c.Nome
	 having  sum(quantidade * preço) > @valorminimo
END
GO

# [dbo].[DevoluçãoProduto]

In [0]:
/****** Object:  StoredProcedure [dbo].[DevoluçãoProduto]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DevoluçãoProduto]
@ProdutoID int,
@PedidoID  int

as
BEGIN 
      Declare  @Qnt int

	  select Quantidade = @QNT
	  from ItemPedido
	  where ProdutoID = @produtoID and PedidoID = @pedidoid

	  Delete from ItemPedido
	  where ProdutoID = @produtoID and PedidoID = @pedidoid

	  update Produto
	  set Estoque = Estoque + @qnt
	  where Produtoid = @produtoid
END
GO

# [dbo].[HistóricoCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[HistóricoCliente]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[HistóricoCliente]
@ClienteId int

as
BEGIN  
      SELECT c.Nome,
           p.PedidoID,
           p.DataPedido,
           SUM(ip.Quantidade * pr.Preco) AS ValorPedido
    FROM Cliente c
    JOIN Pedido p ON c.ClienteID = p.ClienteID
    JOIN ItemPedido ip ON p.PedidoID = ip.PedidoID
    JOIN Produto pr ON ip.ProdutoID = pr.ProdutoID
    WHERE c.ClienteID = @ClienteID
    GROUP BY c.Nome, p.PedidoID, p.DataPedido;

    -- Total geral
    SELECT c.Nome,
           SUM(ip.Quantidade * pr.Preco) AS TotalGasto
    FROM Cliente c
    JOIN Pedido p ON c.ClienteID = p.ClienteID
    JOIN ItemPedido ip ON p.PedidoID = ip.PedidoID
    JOIN Produto pr ON ip.ProdutoID = pr.ProdutoID
    WHERE c.ClienteID = @ClienteID
    GROUP BY c.Nome;
END;
GO

# [dbo].[inserircliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[inserircliente]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[inserircliente]
@nome nvarchar(100),
@email nvarchar(100)

AS
  BEGIN
        insert into Cliente(Nome,Email)
		values (@nome,@Email)
END
GO

# [dbo].[MensalDeVendas]

In [0]:
/****** Object:  StoredProcedure [dbo].[MensalDeVendas]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MensalDeVendas]
@ano int,
@mes int
as
BEGIN 
      select count(distinct pe.PedidoID) as pedidos ,sum(quantidade * preço) as 'quantidadeVendida'
	  from Pedido pe join ItemPedido it on pe.PedidoID = it.PedidoID
	                 join Produto pr on it.ProdutoID = pr.ProdutoID
	  where year(DataPedido) = @ano and MONTH(datapedido) = @mes
end
GO

# [dbo].[PedidoCliente]

In [0]:
/****** Object:  StoredProcedure [dbo].[PedidoCliente]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PedidoCliente]
@ClienteId int

as 
BEGIN
     select p.PedidoID, p.DataPedido,
           SUM(ip.Quantidade * pr.Preco) AS ValorTotal
    FROM Pedido p JOIN ItemPedido ip ON p.PedidoID = ip.PedidoID
                  JOIN Produto pr ON ip.ProdutoID = pr.ProdutoID
    WHERE p.ClienteID = @ClienteID
    GROUP BY p.PedidoID, p.DataPedido;
END;
GO

# [dbo].[pedidosimples]

In [0]:
/****** Object:  StoredProcedure [dbo].[pedidosimples]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[pedidosimples]

@ClienteID int,
@produtoid int,
@quantidade int

as 
 BEGIN
      declare @pedidoid int 
      insert into Cliente(ClienteID)
	  values  (@clienteid)
	  set @produtoid = SCOPE_IDENTITY()

	  insert into ItemPedido ( ProdutoID, Quantidade, PedidoID)
	  values (@produtoid, @quantidade, @pedidoid)

	  update Produto
	  set Estoque = Estoque - @quantidade
	  where ProdutoID = @produtoid 
END
GO

# [dbo].[rankingprodutos]

In [0]:
/****** Object:  StoredProcedure [dbo].[rankingprodutos]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[rankingprodutos]
@top int

as
begin 
      select top (@top) pr.nome,
	  sum (quantidade ) as 'ValorVendido',
	  rank() over (order by sum (quantidade) desc) as Ranking
	  from Produto pr JOIN ItemPedido ip ON pr.ProdutoID = ip.ProdutoID
	  group by pr.Nome
end
GO

# [dbo].[RankProduto]

In [0]:
/****** Object:  StoredProcedure [dbo].[RankProduto]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[RankProduto]
@topn int

as 
BEGIN  
       select top (@topn) pr.nome ,sum(quantidade) as 'TotalVendido',
	   rank() over(order by sum(quantidade) desc) as Ranking
	   from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID	    
	   group by pr.Nome

END
GO

# [dbo].[RankProdutos]

In [0]:
/****** Object:  StoredProcedure [dbo].[RankProdutos]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RankProdutos]
@Topn int
as
BEGIN 
      select top (@Topn) pr.Nome, sum(quantidade) as 'Vendas',
	  rank() over (order by sum(quantidade) desc) as Ranking
	  from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID
	  group by pr.nome
	  
END
GO

# [dbo].[RegistrarPedido]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarPedido]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[RegistrarPedido]
@ClienteID int,
@ProdutoId int,
@Quantidade int

as
BEGIN
    Declare @pedidoid int

	insert into Pedido (ClienteID) 
	values (@ClienteId)
	set @pedidoid = SCOPE_IDENTITY()

	insert into ItemPedido(ProdutoID,Quantidade,PedidoID)
	values (@ProdutoId,@Quantidade,@pedidoid)

	update Produto
	set Estoque = Estoque - @Quantidade
	where produtoid = @produtoid
END
GO

# [dbo].[RegistrarPedidot1]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarPedidot1]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RegistrarPedidot1]
@produtoid int,
@clienteid int,
@quantidade int

as 
BEGIN 
     declare @pedidoid int

     insert into pedido(ClienteID)
	 values (@clienteid)
	 set @pedidoid = scope_identity()

	 insert into ItemPedido(PedidoID,ProdutoID,Quantidade)
	 values (@pedidoid , @produtoid , @quantidade)

	 update Produto
	 set Estoque = Estoque + @quantidade
	 where ProdutoID = @produtoid
END
GO

# [dbo].[RegistroDev]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistroDev]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RegistroDev]
@pedidoId int,
@ProdutoId int
as
 BEGIN
 Declare @QNT int
        select @QNT = quantidade
		from ItemPedido
		where ProdutoID = @ProdutoId AND PedidoID = @pedidoId

		delete from ItemPedido
		where ProdutoID = @ProdutoId AND PedidoID =@pedidoId

		update Produto
		set Estoque = Estoque + @QNT
		where ProdutoID = @ProdutoId
END
GO

# [dbo].[relatoriodevendas]

In [0]:
/****** Object:  StoredProcedure [dbo].[relatoriodevendas]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[relatoriodevendas]
@ano int, 
@mes int

as 
 BEGIN 
      select  sum(quantidade * preço) as 'TotalDeVendas', count(distinct pe.PedidoID) as 'pedidos'
	  from Pedido pe join ItemPedido it on pe.PedidoID = it.PedidoID
	                 join Produto pr on it.ProdutoID = pr.ProdutoID
	  where year(datapedido) = @ano and month(DataPedido) = @mes
	  
END
GO

# [dbo].[RelatórioDeVendasCate]

In [0]:
/****** Object:  StoredProcedure [dbo].[RelatórioDeVendasCate]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RelatórioDeVendasCate]
@categoria nvarchar(50)
as
BEGIN
      select pr.Nome ,sum(it.Quantidade) as totalvendido,
	         sum(it.quantidade * preço) as valortotal
	  from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID 
	  where pr.Categoria = @categoria
	  group by pr.Nome
END
GO

# [dbo].[sp_TopProdutos]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_TopProdutos]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TopProdutos]
    @TopN INT
AS
BEGIN
    SELECT TOP (@TopN) pr.Nome,
           SUM(ip.Quantidade) AS TotalVendido
    FROM Produto pr
    JOIN ItemPedido ip ON pr.ProdutoID = ip.ProdutoID
    GROUP BY pr.Nome
    ORDER BY TotalVendido DESC;
END;
GO

# [dbo].[VendasCategoria]

In [0]:
/****** Object:  StoredProcedure [dbo].[VendasCategoria]    Script Date: 19/11/2025 09:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[VendasCategoria]
@Categoria nvarchar(50)
as
BEGIN
     select pr.Nome, sum(quantidade) as 'quantidadeTotal', sum(quantidade * preço) as 'ValorTotal'
	 from ItemPedido it join Produto pr on it.ProdutoID = pr.ProdutoID
	 where Categoria = @categoria
	 group by pr.Nome
END
GO

# [Treino3]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Treino3] SET  READ_WRITE 
GO